html,body{
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#9C835F;
    height: 100vh;
    width: 100%;
}

/* header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0 0 50px;
}

.back-button{
    display: grid;
    place-items: center;
}

.gambar-back{
    width: 18px;
}

.logo{
    display: flex;
    margin-left: 20px;
    width: 100%;
    align-items: center;
}

.text-head{
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    color: #f9b23d;
}

.gambar-logo {
    width: 60px;
}

/* header */

.gameplay {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-top: 40px;
}

.player, .computer{
    margin: 0px 150px;
}

button{
    background-color: transparent;
    border-color: transparent;
    width: 200px;
    height: 200px;
    padding: 20px 0px;
}

button img{
    width: 105px;
}

.assetplayer, .assetcom{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.player h1, .computer h1{
    font-size: 24px;
    color: #101010;
    font-weight: bold;
}

.versus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.versus h1{
    font-size: 140px;
    color: red;
    font-weight: bold;
}

.versus img{
    width: 50px;
}


.suitplayer:hover {
    transform: rotate(22.5deg);
    animation-name: buttonAnimation;
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes buttonAnimation {
    0% {transform: rotate(25deg);}
    25% {transform: rotate(10deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-10deg);}
    100% {transform: rotate(-15deg);}}

    .active-com, .player-choice {
        background-color: #c4c4c4;
        border-radius: 30px;
    }
