<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/asset/game.css">
    <link rel="script" href="../ch4/script.js">
</head>

<body>
    <header class="top-bar">
        <div class="back-button">
            <a href="/home">
            <img src="/asset/img/back sign.png" alt="gambar back" class="gambar-back">
            </a>
        </div>
        <div class="logo">
            <img src="/asset/img/logo 1.png" alt="logo" class="gambar-logo">
            <h1 class="text-head">ROCK PAPER SCISSORS</h1>            
        </div>
    </header>
    <!-- content section -->
    <section>
        <div class="gameplay">

            <div class="player">
                <h1>PLAYER 1</h1>
                <div class="asset-player">
                    <div class="pilihan-player">
                        <button class="suitplayer" id="rockplayer"><img src="/asset/img/batu 1.png" alt="rock" ></button>
                    </div>
                    <div class="pilihanplayer">
                        <button class="suitplayer" id="paperplayer"><img src="/asset/img/kertas 1.png " alt="paper" ></button>
                    </div>
                    <div class="pilhanplayer">
                        <button class="suitplayer" id="scissorsplayer"><img src="/asset/img/gunting 1.png" alt="SCISSORS" ></button>
                    </div>
                </div>
            </div>

            <div class="versus" id="vs">
                <div id="versus-box" class="versusbox mb-5"><h1 id="default">VS</h1></div>
                <div id="playerwin" class="bg-success text-center mb-2 d-none" style="font-weight: bold; font-size: 30px; rotate: -25deg; color: white; padding: 20px;">PLAYER 1 WIN</div>
                <div id="comwin" class="bg-success text-center mb-2 d-none" style="font-weight: bold; font-size: 30px; rotate: -25deg; color: white; padding: 20px;">COM WIN</div>
                <div id="seri" class="bg-success text-center mb-2 d-none" style="font-weight: bold; font-size: 30px; rotate: -25deg; color: white; padding: 20px;">DRAW</div>
                
                
                <div class="refresh"><img src="/asset/img/refresh 2.png" alt="refresh" id="refresh-logo"></div>
            </div>
            
            <div class="computer">
                <h1>COM</h1>
                <div class="asset-com">
                    <div class="pilihancom">
                        <button class="suitcom" id="rockcom"><img src="/asset/img/batu 1.png" alt="rock" ></button>
                    </div>
                    <div class="pilhancom">
                        <button class="suitcom" id="papercom"><img src="/asset/img/kertas 1.png " alt="paper" ></button>
                    </div>
                    <div class="pilihancom">
                        <button class="suitcom" id="scissorscom"><img src="/asset/img/gunting 1.png" alt="SCISSORS" ></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script src="../ch4/script.js"></script>
</body>
</html>